# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [8]:
import pandas as pd
import numpy as np

# Seu código aqui
list_anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

list_ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

        

series_anomalia = pd.Series(data = list_anomalia_termica)
print(series_anomalia)


series_ano = pd.Series(data = list_ano)
print(series_ano)


series_anomalia_ano = pd.Series(data = list_anomalia_termica, index = list_ano)
print(series_anomalia_ano)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64
0    1900
1    1920
2    1940
3    1960
4    1980
5    2000
6    2020
dtype: int64
1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [9]:

# seu código aqui
series_junto = pd.Series(data = list_anomalia_termica, index = list_ano)
print(series_anomalia_ano)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
series_temperaturas = pd.Series(dic_temperaturas)
series_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
dt_arr = pd.DataFrame(arr)
dt_arr

             0           1           2
0    83.055276  105.373935  113.567607
1    94.913495  107.059606   96.538102
2   117.818796  112.998026   97.332701
3   104.771132  101.771351   88.983803
4    92.830723   85.253784  111.044946
5    89.085446  114.985840  101.579579
6   111.364335   99.650830   87.065441
7   107.963513   89.762509   99.359809
8   105.666057   96.897680  111.846825
9   112.466061  104.673489  120.674117
10   91.501119   89.041485  121.894069
11   87.249423   93.936123  108.401487
12   84.922434  113.939614  109.806387
13  107.303417  103.129491  119.397843
14  100.447955  114.231021   77.904320
15  105.814804  100.859297  112.573562
16  114.112546  109.422053   97.112056
17  105.023024  114.239331  112.918245
18  101.794216   96.208374  117.435030
19   93.752862   95.415718  110.544322

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
#seu código aqui
list_index = list(range(1,len(dt_arr)+1))
list_index = list(map(lambda num: 'x'+str(num), list_index))

dt_arrcomindice = pd.DataFrame(data = arr, index = list_index)
dt_arrcomindice

              0           1           2
x1    83.055276  105.373935  113.567607
x2    94.913495  107.059606   96.538102
x3   117.818796  112.998026   97.332701
x4   104.771132  101.771351   88.983803
x5    92.830723   85.253784  111.044946
x6    89.085446  114.985840  101.579579
x7   111.364335   99.650830   87.065441
x8   107.963513   89.762509   99.359809
x9   105.666057   96.897680  111.846825
x10  112.466061  104.673489  120.674117
x11   91.501119   89.041485  121.894069
x12   87.249423   93.936123  108.401487
x13   84.922434  113.939614  109.806387
x14  107.303417  103.129491  119.397843
x15  100.447955  114.231021   77.904320
x16  105.814804  100.859297  112.573562
x17  114.112546  109.422053   97.112056
x18  105.023024  114.239331  112.918245
x19  101.794216   96.208374  117.435030
x20   93.752862   95.415718  110.544322

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
# seu código aqui
dt_arrcomindice['media'] = dt_arrcomindice.mean(axis = 1)
dt_arrcomindice

              0           1           2       media
x1    83.055276  105.373935  113.567607  100.665606
x2    94.913495  107.059606   96.538102   99.503734
x3   117.818796  112.998026   97.332701  109.383174
x4   104.771132  101.771351   88.983803   98.508762
x5    92.830723   85.253784  111.044946   96.376484
x6    89.085446  114.985840  101.579579  101.883622
x7   111.364335   99.650830   87.065441   99.360202
x8   107.963513   89.762509   99.359809   99.028610
x9   105.666057   96.897680  111.846825  104.803520
x10  112.466061  104.673489  120.674117  112.604556
x11   91.501119   89.041485  121.894069  100.812225
x12   87.249423   93.936123  108.401487   96.529011
x13   84.922434  113.939614  109.806387  102.889478
x14  107.303417  103.129491  119.397843  109.943583
x15  100.447955  114.231021   77.904320   97.527765
x16  105.814804  100.859297  112.573562  106.415888
x17  114.112546  109.422053   97.112056  106.882218
x18  105.023024  114.239331  112.918245  110.726867
x19  101.794216   96.208374  117.435030  105.145873
x20   93.752862   95.415718  110.544322   99.904301

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [7]:
# seu código aqui
dt_arrcomindice['log_med'] = np.log(dt_arrcomindice['media'])
dt_arrcomindice

              0           1           2       media   log_med
x1    83.055276  105.373935  113.567607  100.665606  4.611804
x2    94.913495  107.059606   96.538102   99.503734  4.600195
x3   117.818796  112.998026   97.332701  109.383174  4.694857
x4   104.771132  101.771351   88.983803   98.508762  4.590145
x5    92.830723   85.253784  111.044946   96.376484  4.568262
x6    89.085446  114.985840  101.579579  101.883622  4.623831
x7   111.364335   99.650830   87.065441   99.360202  4.598752
x8   107.963513   89.762509   99.359809   99.028610  4.595409
x9   105.666057   96.897680  111.846825  104.803520  4.652087
x10  112.466061  104.673489  120.674117  112.604556  4.723882
x11   91.501119   89.041485  121.894069  100.812225  4.613260
x12   87.249423   93.936123  108.401487   96.529011  4.569844
x13   84.922434  113.939614  109.806387  102.889478  4.633655
x14  107.303417  103.129491  119.397843  109.943583  4.699967
x15  100.447955  114.231021   77.904320   97.527765  4.580137
x16  105.814804  100.859297  112.573562  106.415888  4.667355
x17  114.112546  109.422053   97.112056  106.882218  4.671727
x18  105.023024  114.239331  112.918245  110.726867  4.707067
x19  101.794216   96.208374  117.435030  105.145873  4.655349
x20   93.752862   95.415718  110.544322   99.904301  4.604213